body{
  background-color: rgb(19, 18, 18);
}

.button{
  border: 0.5px black solid;
  background: none;
  cursor: pointer;
}

.hidden{
  display: none;
}

#nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px black;
}

.logo{
  height: 75px;
  width: 75px;
}

.nav-bar-button{
  background-color: transparent;
  color: white;
  font-size: 2em; 
  border: 0.5px white solid;
  border-radius: 5px;
  margin-bottom: 5px;
}
.nav-bar-button:hover{
  background-color: rgba(128, 128, 128, 0.2);
}
.nav-bar-button:active{
  background-color: rgba(128, 128, 128, 0.4);
}

#home-main{
  background-image: url("images/road.jpg");
  padding-top: 3%;
  padding-bottom: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: white;
  width: 600px;
  height: 700px;
  border-radius: 10px;
  box-shadow: 25px 10px 25px rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: relative;
}

#main-text{
  font-size: 2em;
}

#main-button{
  border: solid black 1px;
  padding: 5px 10px;
}

#question{
  font-size: 3em;
  font-weight: 700;
}

#answers{
  font-size: 2em;
}

#checkbox-answer{
  display: flex;
  flex-direction: column;
}

#next-button,
#finish-button{
  position: absolute;
  bottom: 2%;
  right: 5%;
}

#previous-button{
  position: absolute;
  bottom: 2%;
  left: 5%;
}



