body{
  background: linear-gradient(180deg, rgb(70, 8, 4) 0%, rgb(205, 25, 12)100%);
}

.dumnezeu{
  height: 100%;
  width: 100%;
  font-size: 100px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}