body{
  background: linear-gradient(180deg, rgb(16, 13, 219) 0%, rgb(43, 169, 243)100%);
}

#menu{
  width: 15%;
  height: 90%;
  color: black;
  background-color: transparent;
  position: relative;
  left: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: scroll;
}
#menu::-webkit-scrollbar{
  display: none;
}


.menu-button{
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 5px;
  top: 10px;
  border-bottom: 0.5px rgba(0, 0, 0, 0.3) solid;
}
