body{
  background: linear-gradient(180deg, rgb(16, 13, 219) 0%, rgb(43, 169, 243)100%);
}

.hidden{
  display: none;
}

.gallery-main{
  display: flex;
  height: 90%; 
}

#menu{
  width: 12%;
  height: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
#menu::-webkit-scrollbar{
  display: none;
}

.car-models{
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

.menu-button{
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 5px;
  top: 10px;
  color: rgb(0, 0, 0);
}

#cars-container{
  display: grid;
  width: 88%;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 30px;
  overflow-y: scroll;
}
#cars-container::-webkit-scrollbar{
  display: none;
}

.car-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 300px;
  font-size: 2rem;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
}

.car-image{
  height: 85%;
  max-height: 255px;
  width: 100%;
  aspect-ratio: 80/51;
}

.car-specs{
  width: 100%;
}

.car-spec{
  display: flex;
  justify-content:space-between;
}
