body{
  background: linear-gradient(180deg, rgb(8, 7, 87) 0%, rgb(41, 38, 236)100%);
}

#menu{
  width: 10vw;
  height: 80vh;
  color: black;
  background-color: transparent;
  position: relative;
  left: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 10px;
  overflow-y: scroll;
}
#menu::-webkit-scrollbar {
  display: none;
}

.menu-button{
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 5px;
  top: 10px;
  border-bottom: 0.5px rgba(0, 0, 0, 0.3) solid;
}

.menu-button > button{
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-image{
  width: 20px;
  height: 20px;
}