@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Roboto:wght@400;500;700&display=swap');

#nav-bar{
  background-color: rgb(30, 168, 9);
  height: 10%;
  font-family: Poppins;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 250px;
  height: 75px;
}

.logo-image{
  height: 100%;
}

.logo-text{
  font-size: 2rem;
  color: rgb(36, 35, 35);
}

.logo-button{
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-bar-button,
.logo-button{
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.nav-bar-button{
  color: rgb(36, 35, 35);
  font-size: 2rem; 
  margin-right: 10px;
}
.nav-bar-button:hover,
.logo-text:hover{
  font-weight: 700;
  color: azure;
}


