#nav-bar{
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 250px;
  height: 75px;
}

.logo-image{
  height: 100%;
}

.logo-text{
  font-size: 2rem;
  color: rgb(36, 35, 35);
}

.logo-button{
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-bar-button,
.logo-button{
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.nav-bar-button{
  color: rgb(36, 35, 35);
  font-size: 2rem; 
  margin-right: 10px;
}
.nav-bar-button:hover{
  background-color: rgba(128, 128, 128, 0.2);
}
.nav-bar-button:active{
  background-color: rgba(128, 128, 128, 0.4);
}

