#results{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.result{
  background-color: white;
  width: clamp(250px, 30vw, 500px);
  height: clamp(300px, 70vh, 600px);
  border-radius: 5%;
  box-shadow: 25px 10px 25px rgba(0, 0, 0, 0.5)
}

.result-photo{
  width: 100%;
  height: 50%;
  border-radius: 5% 5% 0% 0%;
}

.result-div{
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10%;
  height: 50%;
}

.title{
  font-size: 2rem;
  font-weight: bold;
}

.specs{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  column-gap: 20px;
}

.specs-text{
  font-size: 1.5rem;
}

#result-buttons{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  column-gap: 50px;
}

.restart-button,
.gallery-button{
  display: flex;
  font-size: 1rem;
  width: 6rem;
  height: 3rem;
  background: black;
  border-radius: 1.5rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.restart-button > a,
.gallery-button > a{
  color: white;
}



